@using DevToolbar.Core.Interfaces
@implements IDisposable

<div class="plugin-zone">
    @if (Plugins != null)
    {
        @foreach (var plugin in Plugins.Where(p => p.IsEnabled))
        {
            <div class="plugin-panel" data-plugin-id="@plugin.UniqueId" aria-label="@plugin.Name">
                <h4 class="plugin-title">@plugin.Name</h4>
                <div class="plugin-content">
                    @if (plugin.Render() is { } fragment)
                    {
                        @fragment
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<IPlugin>? Plugins { get; set; }

    private IReadOnlyList<IPlugin>? _subscribedPlugins;

    protected override void OnParametersSet()
    {
        UnsubscribeAll();
        if (Plugins != null)
        {
            foreach (var plugin in Plugins)
            {
                plugin.OnStateChanged += OnPluginStateChanged;
            }
            _subscribedPlugins = Plugins;
        }
    }

    private void OnPluginStateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    private void UnsubscribeAll()
    {
        if (_subscribedPlugins != null)
        {
            foreach (var plugin in _subscribedPlugins)
            {
                plugin.OnStateChanged -= OnPluginStateChanged;
            }
        }
    }

    public void Dispose()
    {
        UnsubscribeAll();
    }
}
